.filter-search{
  position: relative;
  z-index: 10;
}

.filter-search__title{
  margin: 0 0 5px 0;
  font-size: 13px;
  line-height: 30px;
  color: $color-blue;
}

.filter-search__control{
  position: relative;
  z-index: 1;
  min-height: 35px;
  margin-bottom: 10px;
  padding: 0 5px 0 45px;
  border-radius: 5px;
  border: 1px solid #e1e6e8;
  box-shadow: 0 0 36px -7px rgba(0, 0, 0, 0.2);

  .icon-search{
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 14px;
    display: block;

    @extend .sp-basic-search;
  }
}

.filter-search__input{
  height: 33px;
  font-size: 13px;
  outline: 0;
  border: 0;
}

.filter-search__list{
  position: absolute;
  z-index: 10;
  top: 100%;
  left:0;
  display: none;
  width: 100%;
  background-color: #fff;
  max-height: 200px;
  padding: 5px 0;
  border: 1px solid #e1e6e8;
  box-shadow: 0 0 36px -7px rgba(0, 0, 0, 0.2);
  font-size: 13px;
  line-height: 25px;
  overflow: auto;

  > li{
    padding: 0 10px;
    cursor: pointer;

    &:hover{
      background-color: $color-blue;
      color:#fff;
    }
  }
  &.is-active{
    display: block;
  }
}