// Base class
// --------------------------------------------------

.nav {
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    list-style: none;

    > li {
        position: relative;
        display: block;

        > a {
            position: relative;
            display: block;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }

        // Disabled state sets text to gray and nukes hover/tab effects
        &.disabled > a {

            &:hover,
            &:focus {
                text-decoration: none;
                background-color: transparent;
                cursor: default;
            }
        }
    }

    // Open dropdowns
    .open > a {
        &,
        &:hover,
        &:focus {

        }
    }
}


// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
    font-size: 0;
    text-align: center;
    > li {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        // Make the list-items overlay the bottom border
        font-size: $font-size--root;


        // Actual tabs (as links)
        > a {
            display: block;
            background-color: #f6f8f9;
            color: $color-blue;
            font-size: 14px;
            font-weight: 700;
            line-height: 45px;
            text-decoration: none;
            box-shadow: inset 0px -15px 40px -17px rgba(0, 0, 0, 0.15);
            &:hover {

            }
        }

        // Active state, and its :hover to override normal :hover
        &.active > a {
            &,
            &:hover,
            &:focus {
                background-color: #fff;
                cursor: default;
                box-shadow: none;
            }
        }
    }
}





// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
    > .tab-pane {
        display: none;
    }
    > .active {
        display: block;
    }
}

.fade {
    opacity: 0;
    transition: opacity linear .15s;
    &.in {
        opacity: 1;
    }
}
