header
    .header-container
        .header-container__left
            a(href="#").header-logo
                img(src="img/logo.png").header-logo__img
        .header-container__right
            a(href="#").btn.btn-orange List your property