#wrapper{
    min-width: 768px;
}

.body-container{
    display: flex;

    justify-content: space-between;
    margin: 0 auto;
}

.body-container__left,
.body-container__right{
    width: 50%;
}

.body-container__left{
    padding: 30px;
}

.body-container__right{
    position: relative;
    z-index: 1;
    background-color: #f4f4f4;
    overflow: hidden;

    &:after{
        content: '';
        position: absolute;
        z-index: 20;
        top: 0;
        left:-15px;
        width: 45px;
        height: 100%;
        background: linear-gradient(to right, rgba(0,0,0,0.1),rgba(0,0,0,0) 100%);
    }
}
